/************************TAGS STYLING**********************/
body {
margin: 0;
  text-align: center;
  font-family: 'Prompt', sans-serif;
  background-color: #f1f3f8;
}
p {
  font-size: 1.2em;
  line-height: 1.5;
  color: #393b44;
}
h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 6rem;
  color: #07689f;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  color: #07689f;
  font-size: 2.6em;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #07689f;
  font-size: 1.5em;
}
img {
  mix-blend-mode: multiply;
}
hr {
  border-top: 15px dotted #f4e04d;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
background-color: #f1f3f8;
  width: 10%;
  margin: 50px auto 50px auto;
}
a {
  color: #393b44;
  font-family: 'Prompt', sans-serif;
  margin: auto 20px;
  text-decoration: none;
}
a:hover {
  color: #f1f3f8;
}
/************************CLASS STYLING*******************/
.cloud1 {
  position: absolute;
  top: 55px;
  left: 270px;
}
.cloud2 {
  position: absolute;
  right: 250px;
  top: 300px;
}
.cloud3 {
  top: 1400px;
  right: 375px;
  position: absolute;
}
.cloud4 {
  position: absolute;
left: 170px;
top: 555px;
}
.cloud5 {
  position: absolute;
right: 100px;
top: 1800px;
}
.cloud6 {
  position: absolute;
left: 255px;
top: 2200px;
}
.skill-row {
  white-space: nowrap;
margin: 60px auto 60px auto;
}
.topdiv {
  background-color: #d6e0f0;
  position: relative;
  }
.middle-container {
white-space: nowrap;
  width: 55%;
  margin: auto;
  background-color: #f1f3f8;
}
.contact-me {
  background-color: #d6e0f0;
  margin: 0;
}
.bottom-container {
  background-color: #4e89ae;
  margin: 0;
  padding: 20px 0 20px;
}
.copyright {
  color: #07689f;
  font-size: 1rem;
  margin: 35px auto 0;
}
.flaticon1 {
  width: 30%;
  float: left;
  margin-right: 30px;
}
.flaticon2 {
  width: 30%;
  float: right;
  margin-bottom: 30px;
}
.flaticon3 {
  width: 30%;
  float: left;
  margin-right: 30px;
}
.btn {
  background: #f4e04d;
  background-image: -webkit-linear-gradient(top, #f4e04d, #ffc93c);
  background-image: -moz-linear-gradient(top, #f4e04d, #ffc93c);
  background-image: -ms-linear-gradient(top, #f4e04d, #ffc93c);
  background-image: -o-linear-gradient(top, #f4e04d, #ffc93c);
  background-image: linear-gradient(to bottom, #f4e04d, #ffc93c);
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  font-family: 'Prompt', sans-serif;
  color: #393b44;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #ffd31d;
  background-image: -webkit-linear-gradient(top, #ffd31d, #ffcc00);
  background-image: -moz-linear-gradient(top, #ffd31d, #ffcc00);
  background-image: -ms-linear-gradient(top, #ffd31d, #ffcc00);
  background-image: -o-linear-gradient(top, #ffd31d, #ffcc00);
  background-image: linear-gradient(to bottom, #ffd31d, #ffcc00);
  text-decoration: none;
}
/************************ID STYLING ********************/
#who {
  position: relative;
  bottom: 80px;
color: #393b44;
font-weight: normal;
line-height: 2;
}
#myphoto {
  width: 250px;
  margin: 40px 0 10px 0;
}
